.App {
  background-color: inherit;
}

.searchResultItem {
  height: 5em;
}

.lastSessionSummary {
  .date {
    // font-weight: bold;
  }
  .summary {
    font-style: italic;
  }
}

.exercise {
  .name {
    h4 {
      font-size: bold;
    }
  }
}